h1, h2, p {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-align: center;
}

h1 {
    font-weight: bold;
}

button {
    background-color: aqua;
    font-weight: bold;
    font-size: 40px;    
}